body {
   font-family: 'PT Sans Narrow',
   sans-serif;
    padding: 20px  60px ;
    background-color: #dfe3ee;

}

a {
    text-decoration:none ;
    color: black;
};

* {
    box-sizing: border-box;
}